/*
 * CSS de la page d'accueil
 */

.spanSaveButton{
    text-align: center;
    padding: 1em;
    width: 98%;
    display: block;
}

.accueil{
    text-align: center;
    width: 100%;
    display: block;
    border-collapse: collapse;
}

.accueil th{
    //width: 18%;
    width: 175px;
    font-size: 1.1em;
}

.day th{
    border: 1px solid black;
}

.accueil td{
    //border: 1px solid black;
}

.entree td, .dessert td{
    background-color: #e6f2ff;
}
.plat td{
    background-color: white;
}

.entree th, .dessert th{
    background-color: #b3d7ff;
}
.plat th{
    background-color: #f4faff;
}

.previous, .next {
    float:left;
    width: 50%;
}
.fleche img{
    width: 100px;
    height: 100px;
}
.fleche span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white;
    font-size: 15px;
}
.fleche:hover span {
    display:inline-block;
    position:absolute;
    border:1px solid black;
    overflow:hidden;
    margin-left: 10px;
}