@CHARSET "utf-8";

#displayPopUpCreate
{
    background:url("../images/add_icon.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}
.displayPopUpEdit
{
    background:url("../images/icon_edit.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}
.delete
{
    background:url("../images/delete_icon - Copie.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}

#tab th
{
    height: 2.0em;
    border: thin solid #1C1C1C;
    background-color : #FF9D4C;
    width : 20%;
    font-size: 1em;
}

#tab td
{
    height: 2.0em;
    padding-left: 2em;
    border-left: thin solid #1C1C1C;
    border-right: thin solid #1C1C1C;
    border-bottom: thin dotted #E5E5E5;
    font-size: 1em;
}
#tab
{
    border-collapse: collapse;
    border: thin solid #1C1C1C;
    margin-bottom: 2em;
}

.contenu {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#editContactGetIdForm, #deleteContactGetIdForm, #deleteGroupGetIdForm, #editQualiteGetIdForm, #editQuestionGetIdForm {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

article
{
    display: block;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

.spanSaveButton
{
    text-align: center;
    padding: 1em;
    width: 98%;
    display: block;
}

.cadre,.cadreCreation {
    width: 30%;
    background-color: #ffffff;
    margin: 0 auto 15px auto;
    padding: 10px;
    border: 2px solid #eeab69;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);

    background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4)";
}