@CHARSET "utf-8";

.contenu {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#exportStock {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#displayPopUpCreateStock
{
    background:url("../images/icon/add_small.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}
#RaZStock
{
    background:url("../images/icon/sync_small.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
    float: right;
}
#raz{
    float: right;
}
.displayPopUpEditStock
{
    background:url("../images/icon/edit_small.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}
.deleteStock
{
    background:url("../images/icon/delete_small.png") no-repeat;
    border: 0px;
    height: 38px;
    width: 38px;
}


#tabStock th
{
    height: 2.0em;
    border: thin solid #1C1C1C;	
    background-color : #FF9D4C;
    width : 20%;
    font-size: 1em;
}

#tabStock td
{
    height: 2.0em;	
    padding-left: 2em;
    border-left: thin solid #1C1C1C;	
    border-right: thin solid #1C1C1C;	
    border-bottom: thin dotted #E5E5E5;
    font-size: 1em;
}
#tabStock 
{
    border-collapse: collapse;
    border: thin solid #1C1C1C;	
    margin-bottom: 2em;	
}

.titre
{
	
}

#center {
    text-align: center;
    padding-right: 2em;
}
